<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Menu</h1>
    {% if type_list %}
        {% for type in type_list %}
            <h3>{{ type.type_name }}</h3>
            <ul>
                {% for dish in type.menu_set.all %}
                    <li class="list-group-item"><a href="/menu/{{ dish.id }}/">{{ dish.dish_name }}</a>
                        <span class="badge">{{ dish.price }}</span></li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% elif not request.session.modify %}
        <p>Menu is empty.</p>
    {% endif %}
    <form action="{% url 'menu:modify' %}" method="post">
    {% csrf_token %}
        {% if request.session.modify %}
            <input type="submit" value="Save and exit editing menu">
        {% else %}
            <input type="submit" value="Edit menu">
        {% endif %}
    </form>
</div>
</body>
</html>
